[Unit]
Description=Eastmoney SOC Manager
After=multi-user.target

[Service]
Type=simple
ExecStart=/vdb/
Restart=on-abort

[Install]
WantedBy=multi-user.target
