[Unit]
Description=SSOC代理程序
After=network.target

[Service]
Type=simple
LimitNOFILE=65535
WorkingDirectory=/vdb/ssoc/broker
ExecStart=/vdb/ssoc/broker/ssoc-broker
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
Environment=HOME=/root
Environment=XDG_CONFIG_HOME=/root/.config
Environment=TERM=xterm-256color

[Install]
WantedBy=default.target
RequiredBy=network.target
