[Unit]
Description=SSOC管控程序
After=network.target

[Service]
Type=simple
LimitNOFILE=65535
WorkingDirectory=/vdb/ssoc/manager
ExecStart=/vdb/ssoc/manager/ssoc-manager
ExecStop=/bin/kill -HUP $MAINPID
Restart=always
Environment=HOME=/root
Environment=XDG_CONFIG_HOME=/root/.config
Environment=TERM=xterm-256color

[Install]
WantedBy=default.target
RequiredBy=network.target
