# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: 编译下载

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v6

      - name: 安装 Go SDK
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: 编译 linux-amd64
        env:
          GOOS: linux
          GOARCH: amd64
        run: sh build.sh

      - name: 编译 windows-amd64
        env:
          GOOS: linux
          GOARCH: amd64
        run: sh build.sh

      - name: 上传产物
        uses: actions/upload-artifact@v5
        with:
          retention-days: 30
          name: ssoc-manager
          path: ssoc-manager_*
